<div style=" width: 70%; margin: auto; padding: 20px; box-shadow: 5px 5px 40px rgb(57, 35, 77);">
    
  <h1 style="color: rgb(33, 33, 126);">JSON Server Using API</h1>

<h2 style="color: rgb(33, 33, 126);text-align: center;">List of Users</h2>

<ul style="box-shadow: 5px 5px 40px rgb(179, 150, 205); border-radius: 10px; width: 50%; align-items: center; margin: auto; padding: 20px;">

  @for (user of userData(); track user.id) {

    <li>UserId-{{ user.id }}</li>

    <li>UserName-{{ user.name }} </li>

    <li>Age-{{ user.age }}</li>

    <li>Email-{{ user.email }}</li>

    <hr>

    <button (click)="DeleteUser(user.id)">Delete</button>

    <hr>
  }

</ul>

</div>